<section class="about-box" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div>
                    <h2 class="section-heading">Missão</h2>
                    <hr class="primary">
                    <p>Proporcionar serviços de análise e controlo de qualidade de água e alimentos empregando padrões
                        rigorosos
                        de análise, equipamentos calibrados e profissionais qualificados e comprometidos, com objectivo
                        de
                        obter
                        resultados com a exatidão requerida e, garantir a satisfação dos clientes e confiabilidade
                        necessária
                        neste sector.</p>
                </div>
                <div>
                    <h2 class="section-heading">Visão</h2>
                    <hr class="primary">
                    <p>Granjear posições relevantes em análise e controlo de qualidade de água, alimentos, e serviços de
                        consultoria em qualidade, incluindo a componente ambiental no território nacional.</p>
                    </p>
                    <!-- <a href="#" class="btn btn-default btn-xl">Saiba mais!</a> -->
                </div>
            </div>
        </div>
    </div>
</section>