<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>N'WETI LAB, LDA</h1>
            <p>Soluções científicas em controlo e qualidade de água e alimento.
            </p>
            <hr>
            <h2>Missão</h2>
            <p>Proporcionar serviços de análise e controlo de qualidade de água e alimentos empregando padrões rigorosos
                de análise, equipamentos calibrados e profissionais qualificados e comprometidos, com objectivo de obter
                resultados com a exatidão requerida e, garantir a satisfação dos clientes e confiabilidade necessária
                neste sector.</p>
            <h2>Visão</h2>
            <p>Granjear posições relevantes em análise e controlo de qualidade de água, alimentos, e serviços de
                consultoria em qualidade, incluindo a componente ambiental no território nacional.</p>

            <a href="#about" class="btn btn-primary btn-xl page-scroll">Leia mais...</a>
        </div>
    </div>
</header>