<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Colaboladores</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../assets/img/people/alexandre.jpg" alt="Alexandre Arthur Nemakonde">
                    <h3>Alexandre Arthur Nemakonde</h3>
                    <p class="text-muted">
                        Alexandre Arthur Nemakonde é um profissional moçambicano licenciado em Biologia e Saúde pela
                        Universidade Eduardo Mondlane. Com mais de cinco anos de experiência, destaca-se no controlo de
                        qualidade microbiológico de águas, alimentos e ambientes, demonstrando competência e rigor
                        técnico. Alexandre possui expertise em montagem e gestão de laboratórios, além de realizar
                        amostragem no campo com eficiência e precisão. Sua atuação é pautada pelo cumprimento da norma
                        ISO 17025, garantindo padrões internacionais de qualidade e confiabilidade nos processos
                        laboratoriais. Com um perfil dedicado e qualificado, Alexandre contribui significativamente para
                        a promoção da saúde pública e segurança ambiental.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../assets/img/people/ivans.jpg" alt="Ivans Elton Namacatipa">
                    <h3>Ivans Elton Namacatipa</h3>
                    <p class="text-muted">
                        Ivans Elton Namacatipa, é um jovem moçambicano, licenciado em Engenharia de Processamento de
                        Alimentos, mestrando em Mudanças Climáticas e Gestão de Recursos Naturais, com actuação
                        profissional voltada ao controlo de qualidade físico-químico de águas e alimentos, e de igual
                        modo desempenha funções de docente universitário e investigador oque contribui para a construção
                        do seu perfil qualificado, contribuindo amplamente para promoção de saúde publica e educação.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../assets/img/people/gamela.jpg" alt="Raimundo Gamela">
                    <h3>Raimundo Gamela</h3>
                    <p class="text-muted">
                        Raimundo Gamela é um profissional moçambicano Doutor em Química Analitica pela Universidade
                        Federal de São Carlos, Brasil, e também possui um Pós-doutorado em Química Analitica pela
                        Universidade Estadual de Campinas (Unicamp), Brasil. Tem experiência em controlo de qualidade
                        química de águas aplicando a norma ISO 17025, incluindo análise de alimentos e ambientes,
                        demonstrando competência e rigor técnico. Possui experiência em montagem e gestão de
                        laboratórios, treinamento e manuseamento de equipamentos para análise química.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../assets/img/people/raul.jpg" alt="Raul Uane">
                    <h3>Raul Uane</h3>
                    <p class="text-muted">
                        Moçambicano com residência fixa na cidade de Maputo, Licenciado em Química pela UEM. No campo do
                        Controlo da Qualidade tenho mais de 3 anos de experiência profissional sobretudo nos
                        Laboratórios de controlo da qualidade. Até então tenho quase 2 anos na área da Gestão da
                        Qualidade baseado nas indústrias transformadoras alimentares com conhecimento profundos das
                        Normas ISO 17025, 22000, 9001, e as que se circunscrevem no Sistema de Gestão da Qualidade
                        nomeadamente ISO 14001 e 45001.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>