<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../assets/img/logo.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cursos
                            </div>
                            <div class="project-name">
                                Oferecemos cursos e formações sobre análise de qualidade, processos laboratoriais e consultoria ambiental.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../assets/img/logo.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Serviços
                            </div>
                            <div class="project-name">
                                Oferecemos cursos e formações sobre análise de qualidade, processos laboratoriais e consultoria ambiental.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../assets/img/logo.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Serviços
                            </div>
                            <div class="project-name">
                                Oferecemos cursos e formações sobre análise de qualidade, processos laboratoriais e consultoria ambiental.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>