<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serviços</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../assets/img/portfolio/analise-de-agua.jpeg" class="img-responsive" alt="">
                    <h3>Análise Físico-Química de Água</h3>
                    <!-- <p class="text-muted">Oferecemos cursos e formações sobre análise de qualidade, processos laboratoriais e consultoria ambiental..</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../assets/img/portfolio/Analise-fisico-quimica de alimentos.jpg" class="img-responsive" alt="" data-wow-delay=".1s">
                    <h3>Análise Físico-Química de Alimentos</h3>
                    <!-- <p class="text-muted">Oferecemos cursos e formações sobre análise de qualidade, processos laboratoriais e consultoria ambiental.</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../assets/img/portfolio/analises-microbiologicas-de alimentos.jpg" class="img-responsive" alt="">
                    <h3>Análise Microbiológica de Água</h3>
                    <!-- <p class="text-muted">Oferecemos cursos e formações sobre análise de qualidade, processos laboratoriais e consultoria ambiental..</p> -->
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Serviços</h3>
                    <p class="text-muted">Oferecemos cursos e formações sobre análise de qualidade, processos laboratoriais e consultoria ambiental.</p>
                </div>
            </div> -->
        </div>
    </div>
</section>